<nav class="navigation">

    <a class="f-anchor" href="/">Home</a>
    <a class="f-anchor" href="#AP">Add Product</a>
    <a class="f-anchor" href="/signUp">Sign Up</a>
    <a class="f-anchor" href="#LN">Login</a>
    <a class="f-anchor" href="#LT">Logout</a>
    
</nav> 