<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Data</title>
    <link rel="stylesheet" href="../statics/css/signUp_style.css">
</head>
<body>
    <h2 class=head_pdta>Personal Data</h2>
  <div class="loaded_data">
    <ul>
        <li><strong>Name: <span><%= data.username %></span></strong></li><br>
        <li><strong>Email: <span><%= data.email %></span></strong></li><br>
        <li><strong>Password: <span><%= data.pwd %></span> </strong></li>
    </ul>
  </div>  
</body>
</html>