<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="../statics/css/signUp_style.css">
</head>
<body>
    <header>
   <h1>Sign up</h1>
</header> 
<div class="frm_contr">
    <form id="reg1" class="per-list " action="/register" method="POST" >
        <label for="username">User name:</label>
        <input type="text" id="username" name="username">
        <label for="email">Email:</label>
  <input type="email" id="email" name="email">
        <label for="pwd">Password:</label>
        <input type="password" id="pwd" name="pwd"><br><br>
        
        <input type="submit" value="Create Account" class="crt_acnt" id="creatAccount">
    
      </form>
    
</div>
</body>
</html>